
/* Limits background image to splash screen only  */
#bgsplash {
  background-image: url('/Assets/stickbg.jpg');
  background-repeat: none;
  position: absolute;


}

#bgsplash2 {
  background-image: url('/Assets/stickbg2.jpg');
  background-repeat: none;
  position: absolute;


}

body: {
  font-family: garamond;
}

h1 {
  text-align: center;
  font-family: garamond;
  font-size: 60px;
  /*position: fixed;*/
  margin-left: 50%;
  width: 100%;
}

h2 {
  margin-left: 5%;
}
h3 {
  padding-left: 45%;
}
/* Splash screen start */
.start {
    height: 100px;
    width: 200px;
    background-color: red;
    /* font-size: 70px; */
    color: white;
    max-height: 10vh;
    max-width: 30vw;
    font-size: 5vw;
    align-content: center;
    z-index: 1;
    margin-left: 80%;
}

/*.start {
  align-content: center;
  position: fixed;
  padding-left: 45%;
  padding-top: 10%;
  z-index: 1;
} */
/* Main area where text and question buttons go  */
.container {
width: 30%;
height: 50%;
margin-left: 25%;
position: absolute;
font-size: 20px;
}
/*Area where Stick is shown  */
.stickdisplay {
position: absolute;
}

button {
height: 100px;
width: 200px;
background-color: red;
font-size: 70px;
color: white;
}

/* Buttons for choices  */
.buttonchoice {
  height: 125px;
  width: 600px;
  font-size: 50px;
  background-color: yellow;
}

/* Start over Button  */
.restart {
  width: 250px;
  height: 200px;
}

footer {
  position: absolute;
  margin-left: 175%;
  margin-top: 60%;
  width: 25%
}

/* Adjusting Link Settings  */
a:link {
  text-decoration: none;
  color:white;
}

a:visited {
  color: white;
}

a:hover {
  color: blue;
}

#winhead {
  text-align: center;
  font-family: garamond;
  font-size: 60px;
  /*position: fixed;*/
  margin-left: 200%;
  width: 100%;
  position: absolute;
}

#winhead2 {
  text-align: center;
  font-family: garamond;
  /*position: fixed;*/
  margin-left: 210%;
  margin-top: 55%;
  width: 200%;
  position: absolute;
  max-height: 2em;
}

#winhead3 {
  text-align: center;
  font-family: garamond;
  font-size: 40px;
  /*position: fixed;*/
  margin-left: 110%;
  margin-top: 125%;
  width: 300%;
  position: absolute;
}

/* Restart button  */
#startover {
  height: 100px;
  width: 200px;
  background-color: red;
  /* font-size: 70px; */
  color: white;
  max-height: 10vh;
  max-width: 30vw;
  font-size: 5vw;
  align-content: center;
  z-index: 1;
  margin-left: 415%;
  margin-top: 150%;
}
